<template>
  <div class="mtx">
    <h1>Portfolio</h1>
    <p>Here's my professional projects I've done for clients.</p>

    <a href="https://allsilkmasteringhouse.com" class="row mb pad" >All Silk Mastering House</a>
    <a href="#" class="row mb pad" >All Silk Recording Studio</a>
    <a href="#" class="row mb pad" >Superyagi Antennas</a>

  </div>
</template>

<script>

export default {
  head () {
    return {
      title: "Portfolio | vohzd.com",
      meta: [
        { hid: "portfolio-description", name: "description", content: "Cool professional projects I've done" }
      ]
    }
  },
}
</script>

<style>

</style>
